@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.autocomplete {
    /*the container must be positioned relative:*/
    width: 100%;
    display: inline-block;
}

.center {
    position: relative;
    width: 110%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: top;
    text-align: center;
    font-size: 2em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-bottom: 10%;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #56A5E8;
    padding: 5px;
    padding-left: 16px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #56A5E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 40px;
    border: 1px solid #56A5E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #56A5E8;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.recommendations {
    height:10%;
    position:absolute;
    bottom:0px;
}

#header {
    width: 30%;
    position: relative;
}

.results-wrap {
    width: 80%;
    position: relative;
    left: 10%;
    z-index: -1;
    margin-top: 24px;
}

.artwork-item {
    float: left;
    padding-right: 16px;
    padding-bottom: 12px;
}

.artwork-item img {
    max-height: 420px;
}

.ui-autocomplete {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-menu-item {
    padding: 6px;
    padding-left: 11px;
}
.ui-menu-item :focus{
   background: #56A5E8;
}
.ui-menu-item:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #56A5E8 !important;
    color: white!important;
    border: none!important;
}


#language_selector {
    float:right;
}