@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.autocomplete {
    /*the container must be positioned relative:*/
    width: 100%;
    position: relative;
    display: inline-block;
}

.center {
    position: relative;
    width: 110%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    float: top;
    text-align: center;
    font-size: 2em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-bottom: 10%;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    padding-left: 16px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.results-wrap {
    width: 80%;
    position: relative;
    left: 10%;
    transform: translate(0, 24px);
    z-index: -1;
}

.artwork-item {
    float: left;
    padding-right: 16px;
    padding-bottom: 12px;
}

.artwork-item img {
    max-height: 420px;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-menu .ui-menu-item {
    padding: 5px;
}

.ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background: #00B4CC;
    font-weight: bold;
}