<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artoogle/base.css' %}">
    <title>Artoogle!</title>
</head>
<body>
<div class="results-wrap">
    {% if labels %}
        <p> Artworks containing: </p>
        <ul>
            {% for label in labels %}
                <li>{{ label }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if images %}
        {% for image in images %}
                <div class="artwork-item">
                    <p>
                        <a href="/search?arg={{ image.artist }}">
                            {{ image.artist }}
                        </a>: {{ image.artwork }}
                    </p>
                    <a href="/detail?arg={{ image.artwork }}">
                        <img src="{% static image.path %}"/>
                    </a>
                </div>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>