<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artoogle/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'artoogle/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Artoogle!</title>
</head>
<body>
<div class="wrap">
    <a href="/">
        <img class="center" src="{% static 'artoogle/logo_higherres.JPG' %}"/>
    </a>
    <div class="search">
        <form id="searchForm" action="search" autocomplete="off">
            <div class="autocomplete">
                <input id="searchbox" type="text" class="searchTerm" tabindex="0"
                       placeholder="What are you looking for?"
                       name="arg"
                       autofocus>
            </div>
            <button id="searchButton" type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
<div class="results-wrap">
    {% if abstract %}
        <h2>Abstract: </h2>
        <p>{{ abstract }}</p>
    {% endif %}
    {% if images %}
        <h2>Artworks: </h2>
        {% for title, path in images.items %}
            <div class="artwork-item">
                <p>{{ title }}</p>
                <a href="{% static path %}">
                    <img src="{% static path %}"/>
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>