<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artoogle/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{%  static 'artoogle/base.js' %}"></script>
    <meta charset="UTF-8">
    <title>Artoogle!</title>
</head>
<body>
<div class="wrap">

    <img class="center" src="{% static 'artoogle/logo_higherres.JPG' %}"/>
    <div class="search">
        <form action="search" >
            <input type="text" class="searchTerm" tabindex="0" placeholder="What are you looking for?" name="arg">
            <button type="submit" class="searchButton" >
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>
</body>
</html>